<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BukuKu - Buku</title>
    <link rel="stylesheet" href="/main.css" />
    <link rel="stylesheet" href="/style/books.css" />
  </head>
  <body>
    <nav>
      <div class="nav-left">
        <a href="/home/<%= userId %> %>" class="bukuku-font"></a>
        <ul>
          <li><a href="/now-reading/<%= userId %>">Bacaan</a></li>
          <li><a href="/book/<%= userId %>">Buku</a></li>
          <li><a href="/categories/<%= userId %>">Kategori</a></li>
        </ul>
      </div>
      <a class="user-profile-icon desktop" href="/profile/<%= userId %>"></a>
      <a class="user-profile-icon mobile" href="/navbar/<%= userId %>"></a>
    </nav>
    <div class="buku">
      <div class="table">
        <div class="table-main">
          <div class="table-row">
            <div class="table-column">Judul</div>
            <div class="table-column">Penulis</div>
            <div class="table-column">Penerbit</div>
            <div class="table-column">Edit</div>
          </div>
          <% if(books.length==0) { %>
          <!-- Data Kosong -->
          <div class="empty-data">
            <p>Belum Ada Buku Yang Ditambahkan</p>
          </div>
          <% } else { %>
          <!-- Ada Data -->
          <% books.forEach(book => { %>
          <div class="table-row">
            <div class="table-column">
              <a href="/view-book/<%= userId %>/<%= book.id_book %>"
                ><%= book.tittle %></a
              >
            </div>
            <div class="table-column"><%= book.author %></div>
            <div class="table-column"><%= book.publisher %></div>
            <div class="table-column edit">
              <a
                href="/update-book/<%= userId %>/<%= book.id_book %>"
                class="update"
              ></a>
              <form
                action="/delete-book/<%= userId %>/<%= book.id_book %>"
                method="POST"
              >
                <button class="delete" type="submit"></button>
              </form>
            </div>
          </div>
          <% }); %> <% } %>
        </div>
        <a href="/add-book/<%= userId %>" class="add-button">+</a>
      </div>
    </div>
  </body>
</html>
