<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BukuKu</title>
  <link rel="stylesheet" href="/main.css">
  <link rel="stylesheet" href="/style/navbar.css">
</head>
<body>
  <div class="side-bar">
    <a class="back-button" href="/home/<%= user.id_user %>"
      ><span>&lt;</span> Kembali</a
    >
    <a
      class="side-bar-list"
      href="/profile/<%= user.id_user %>"
      >Profile</a
    >
    <a class="side-bar-list" href="/dashboard/<%= user.id_user %>">Dashboard</a>
    <a class="side-bar-list" href="/now-reading/<%= user.id_user %>"
      >Bacaan</a
    >
    <a class="side-bar-list" href="/book/<%= user.id_user %>">Buku</a>
    <a class="side-bar-list" href="/categories/<%= user.id_user %>"
      >Kategori</a
    >
    <a class="side-bar-list" href="/logout">Logout</a>
  </div>
</body>
</html>